@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Farmácia Montecino</h1>
    @*<img src=""  width="400px" height0="20px" />*@
    @*<a href="../img/Farmacia.jpeg"></a>*@
</div>