@model ColaboradorViewModel

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">@ViewBag.Message</div>
}

<form asp-controller="Colaborador" asp-action="Login" method="post">
    <div style="display: flex; justify-content: center; align-items: center; margin-top: 200px;">
        <span style="position: absolute; top: 140px; color: blue; font-size: 62px; font-weight: bold;">RAS</span>
        <div style="width: 400px; height: 50%;">
            <div class="form-group">
                <label>Login</label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login"></span>
            </div>

            <div class="form-group">
                <label asp-for="Senha"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha"></span>
            </div>

            <button class="btn btn-block btn-primary">Entrar</button>
            <div
                style="display: flex; align-items: center; justify-content: center; margin-top: 10px; margin-bottom: 5px;">
                <label style="font-weight: bold;">OU</label>
            </div>
            <a asp-area="" asp-controller="Colaborador" asp-action="Create" class="btn btn-block btn-primary">Criar
                uma conta</a>
        </div>
    </div>
</form>