@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@using System.Text.Json


@model List<Produto_Pedido>

@{

    string json = HttpContextAccessor.HttpContext.Session.GetString("user");
    Consumidor user = JsonSerializer.Deserialize<Consumidor>(json);

    List<Produto_Pedido> itens = Model.ToList();
    //salvar os itens na sessao
    HttpContextAccessor.HttpContext.Session.SetString("itens", JsonSerializer.Serialize<List<Produto_Pedido>>(itens));

}


@if (Model.Count == 0)
{
    <div class="container-fluid mt-100">
        <div class="row">
            <div class="col-md-12">
                <div style="border-width: 1; border-color: #bfbaba; border-style: solid;" class="card">
                    <div style="background-color: #ada8a8;" class="card-header">
                        <h5>Carrinho</h5>
                    </div>
                    <div style="background-color: #fff;" class="card-body cart">
                        <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png"
                            width="130" height="130" class="img-fluid mb-4 mr-3">
                            <h3><strong>Seu Carrinho Está Vázio</strong></h3>
                            <h4>Peça algo agora :)</h4> <a href="/produto_pedido/index" class="btn btn-primary"
                            data-abc="true">Continuar Comprando</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div style="background-color: #fff;" class="container-fluid mt-100">
        <div style="background-color: #fff;" class="row">
            <div style="background-color: #fff;" class="col-md-12">
                <div style="border-width: 1; border-color: #bfbaba; border-style: solid;" class="card">
                    <div style="background-color: #ada8a8;" class="card-header">
                        <h5>Carrinho</h5>
                    </div>
                    <div style="background-color: #fff;">
                        <table style="background-color: #fff;" class="table table-hover">
                            <tr>
                                <th>Nome</th>
                                <th>Valor</th>
                                <th>Quantidade</th>
                                <th>Total</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Produto.Descricao</td>
                                    <td>@item.Produto.Valor</td>
                                    <td>@item.Qtd</td>
                                    <td>@(item.Produto.Valor*item.Qtd)</td>
                                    <td style="display: flex; justify-content: flex-end;">
                                        <a style="font-weight: 700;" class="btn btn-sm btn-danger"
                                    href="/carrinho/Remover/@item.Produto.Produtos_id">Remover</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div>
                    <div style="position: absolute; width: 45%; margin-top: 5px; display: flex;">
                        <input style="flex: 1;" class="form-control float-left">
                        <button class="btn btn-primary">OK</button>
                    </div>
                    <a href="/produto/index" class="btn btn-info cart-btn-transform mt-2 float-right m-2"
                    data-abc="true">Continuar
                        Comprando</a>

                    @using (Html.BeginForm("Create", "Pedido", new
                    { Colaboradores_id = user.Pessoas_id }
                   , FormMethod.Post))
                    {
                        <button class="btn btn-primary cart-btn-transform mt-2 float-right" data-abc="true">Finalizar
                            Pedido</button>
                    }
                </div>
            </div>
        </div>
    </div>
}